option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application/application.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: application/static
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7