option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0d50c626e4edf2cf1
    Subnets: subnet-0aa51cd5f1ac3b92b
    AssociatePublicIpAddress: true

  # Specify the instance type
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  
  # Single instance environment settings
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance