option_settings:
  aws:ec2:vpc:
    VPCId: vpc-xx
    Subnets: subnet-xx
    AssociatePublicIpAddress: true

  # Specify the instance type
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  
  # Single instance environment settings
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance